In [2]:
import pandas as pd

In [35]:
data=pd.read_csv("input/data-final.csv", sep="\t" )

In [215]:
data.columns

Index(['EXT1', 'EXT2', 'EXT3', 'EXT4', 'EXT5', 'EXT6', 'EXT7', 'EXT8', 'EXT9',
       'EXT10',
       ...
       'dateload', 'screenw', 'screenh', 'introelapse', 'testelapse',
       'endelapse', 'IPC', 'country', 'lat_appx_lots_of_err',
       'long_appx_lots_of_err'],
      dtype='object', length=110)

In [535]:
general=data[['EXT1', 'EXT2', 'EXT3', 'EXT4', 'EXT5', 'EXT6', 'EXT7', 'EXT8', 'EXT9',
       'EXT10', 'AGR1', 'AGR2', 'AGR3', 'AGR4', 'AGR5', 'AGR6', 'AGR7', 'AGR8', 'AGR9',
       'AGR10','EST1', 'EST2', 'EST3', 'EST4', 'EST5', 'EST6', 'EST7', 'EST8', 'EST9',
       'EST10', 'OPN1', 'OPN2', 'OPN3', 'OPN4', 'OPN5', 'OPN6', 'OPN7', 'OPN8', 'OPN9',
       'OPN10','CSN1', 'CSN2', 'CSN3', 'CSN4', 'CSN5', 'CSN6', 'CSN7', 'CSN8', 'CSN9',
       'CSN10', 'country']]

general

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,CSN2,CSN3,CSN4,CSN5,CSN6,CSN7,CSN8,CSN9,CSN10,country
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,4.0,3.0,2.0,2.0,4.0,4.0,2.0,4.0,4.0,GB
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,2.0,5.0,3.0,3.0,1.0,3.0,3.0,5.0,3.0,MY
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,2.0,2.0,2.0,3.0,3.0,4.0,2.0,4.0,2.0,GB
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,4.0,4.0,4.0,1.0,2.0,2.0,3.0,1.0,4.0,GB
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,1.0,5.0,1.0,3.0,1.0,5.0,1.0,5.0,5.0,KE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015336,4.0,2.0,4.0,3.0,4.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,4.0,4.0,4.0,2.0,3.0,3.0,US
1015337,4.0,3.0,4.0,3.0,3.0,3.0,4.0,4.0,3.0,3.0,...,2.0,3.0,4.0,3.0,3.0,2.0,3.0,2.0,3.0,US
1015338,4.0,2.0,4.0,3.0,5.0,1.0,4.0,2.0,4.0,4.0,...,5.0,3.0,5.0,1.0,5.0,1.0,4.0,1.0,4.0,US
1015339,2.0,4.0,3.0,4.0,2.0,2.0,1.0,4.0,2.0,4.0,...,2.0,4.0,2.0,2.0,2.0,4.0,2.0,4.0,4.0,US
1015340,4.0,2.0,4.0,2.0,4.0,1.0,4.0,2.0,4.0,4.0,...,4.0,3.0,3.0,2.0,3.0,3.0,2.0,2.0,3.0,US

In [505]:
general=general[(general["country"].isnull()==0) & (general["country"]!="NONE")]

Como vamos a enriquecer el dataframe con los datos por países, aquellas filas que not tienen un país asignado las vamos a eliminar

In [536]:
country=pd.read_csv("input/code.csv")

In [537]:
country=country.rename(columns={"Code":"country"})

In [538]:
analisis_paises=pd.merge(general, country, how="left",left_on="country", right_on="country")

In [539]:
analisis_paises=analisis_paises.rename(columns={"country":"Code", "Name":"Country"})
analisis_paises.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,CSN3,CSN4,CSN5,CSN6,CSN7,CSN8,CSN9,CSN10,Code,Country
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,3.0,2.0,2.0,4.0,4.0,2.0,4.0,4.0,GB,United Kingdom
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,5.0,3.0,3.0,1.0,3.0,3.0,5.0,3.0,MY,Malaysia
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,2.0,2.0,3.0,3.0,4.0,2.0,4.0,2.0,GB,United Kingdom
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,4.0,4.0,1.0,2.0,2.0,3.0,1.0,4.0,GB,United Kingdom
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,5.0,1.0,3.0,1.0,5.0,1.0,5.0,5.0,KE,Kenya

In [515]:
analisis_paises.to_csv("output/atrib_pais.csv")